<div id="mainContainer">
    <div id="headerContainer">
        <h1>This is the topic 2</h1>
    </div>
    <div id="textContainer">
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis magnam similique soluta, optio dolore error fugiat doloribus quia ad saepe eos praesentium molestias commodi perspiciatis vitae? Eveniet itaque veritatis eum?
       Eum accusantium, vel ut dolorem nihil eaque, beatae natus delectus est nisi, nobis pariatur deleniti numquam voluptatibus alias ullam consequatur voluptatem vero. Ex harum aut nihil ea, excepturi adipisci amet?
       Sapiente itaque, assumenda adipisci vero officiis quos optio corporis architecto omnis ullam quam dolorem amet vitae tenetur animi, odit saepe quas. Velit, ut modi officia fuga beatae rerum non aspernatur?
       Neque facilis aspernatur quibusdam voluptas architecto quos modi, maxime doloremque temporibus ad nisi, harum quas! Quibusdam incidunt, ipsa dolor id veniam est magni cupiditate laudantium suscipit mollitia nisi, facere labore?
       Veniam doloribus nihil quidem illum suscipit facilis delectus aperiam, consequuntur, voluptate eveniet quisquam omnis culpa quaerat alias. Repellendus harum, quia repudiandae id ratione libero nisi accusantium pariatur, laudantium architecto quos?
       Voluptas veritatis perferendis nisi, modi id, consectetur, illum ut hic culpa quaerat quis facilis ipsum cupiditate. Harum non delectus ullam officia dolores culpa vero facere, laborum eveniet quaerat aspernatur explicabo.</p>
    </div>
</div>
