<div id="mainContainer">
    <div id="containerButtons">
        <div class="buttonsContainer">
            <button>Click here for topic 1</button>
        </div>
        <div class="buttonsContainer">
            <button>Click here for topic 2</button>
        </div>
        <div class="buttonsContainer">
            <button>Click here for topic 3</button>
        </div>
    </div>
    <div id="containerComponents">
        <div class="componentsContainer">
            <app-first-component></app-first-component>
        </div>
        <div class="componentsContainer">
            <app-second-component></app-second-component>
        </div>
        <div class="componentsContainer">
            <app-third-component></app-third-component>
        </div>
    </div>
</div>