<div id="mainContainer">
    <div id="headerContainer">
        <h1>This is the topic 1</h1>
    </div>
    <div id="textContainer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolore officia alias expedita, cumque dicta consequuntur nihil. Asperiores blanditiis dolore quasi, quas libero distinctio necessitatibus illum officia eius perspiciatis veniam!
        Perferendis error at, saepe nobis beatae illum quia! Dolorem voluptas laborum deserunt id in! Quos consectetur aut cumque odio est officia obcaecati repellat minus, reprehenderit quibusdam possimus unde autem! Deleniti.</p>
    </div>
</div>
